// bower:scss
// endbower
@font-face {
  src: url("../fonts/appetite.ttf");
  font-family: Appetite;
  font-weight: 400;
}

body {
  padding-top: 100px;
  background-color: #f7f7f7;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.t-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: #b3c54f;
  z-index: 9;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__combo {
    display: inline-block;
  }
  &__toggler {
    display: none;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__logo {
    display: inline-block;
    max-width: 100%;
  }
  &__nav {
    display: inline-block;
    &>a {
      display: inline-block;
      position: relative;
      padding: 4px 8px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #f54a25;
        text-decoration: none;
      }
    }
    &_special {
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 7px;
        height: 7px;
        margin-top: 1px;
        margin-right: 1px;
        border-radius: 999rem;
        background-color: #f54a25;
      }
    }
  }
  &__get {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-phone {
      display: block;
      margin-bottom: 4px;
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #f54a25;
        text-decoration: none;
      }
    }
    &-button {
      display: inline-block;
      padding: 10px 22px;
      border-radius: 5px;
      background-color: #ffd307;
      color: #374101;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #f54a25;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.t-top {
  display: block;
  padding: 270px 0 380px 0;
  background: url('../images/top_bg.png') no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #374101;
    font-family: Appetite;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 210px;
    min-height: 60px;
    margin: 0 0 10px 0;
    padding: 4px 10px 4px 30px;
    border-left: 10px solid #ffd307;
    border-radius: 0 999rem 999rem 0;
    box-shadow: 4px 14px 21px rgba(84, 99, 0, 0.53);
    background-color: rgba(255, 255, 255, 0.75);
    color: #374101;
    font-size: 16px;
    font-weight: 400;
  }
}

.t-welcome {
  display: block;
  margin-top: -115px;
  padding: 150px 0 85px 0;
  background: url('../images/top_bg_2.png') no-repeat right center;
  background-size: auto 100%;
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #374101;
    font-size: 30px;
    font-style: italic;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    color: #444343;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    a {
      display: inline;
      border-bottom: 1px solid #c7cab8;
      color: #444343;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #444343;
        text-decoration: none;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 15px 0;
    color: #374101;
    font-size: 24px;
    font-style: italic;
  }
}

.h-bordered {
  border-right: 2px solid #dfe0d9;
}

.t-about {
  display: block;
  padding: 80px 0;
  background-color: #f5f5f5;
  &__title {
    display: block;
    margin: 0 0 38px 0;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 720px;
    margin: 0 auto 75px auto;
    color: #616161;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    &_righted {
      align-items: flex-end;
      padding-left: 0;
      padding-right: 20px;
      text-align: right;
    }
    &-card {
      display: block;
      margin-bottom: 36px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-what {
      display: block;
      margin-bottom: 6px;
      color: #374101;
      font-size: 24px;
      font-weight: 300;
    }
    &-info {
      display: block;
      margin-bottom: 0;
      color: #374101;
      font-family: Appetite;
      font-size: 36px;
      font-weight: 400;
    }
  }
}

.t-what {
  display: block;
  padding: 80px 0 40px 0;
  background: url('../images/what_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 240px;
    text-align: center;
    &-image {
      display: block;
      max-width: 100%;
      margin-bottom: 20px;
    }
    &-title {
      display: block;
      margin-bottom: 12px;
      color: #374101;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      span {
        color: #e63d3d;
      }
    }
    &-text {
      display: block;
      margin: 0;
      color: #444444;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.t-special {
  display: block;
  padding: 80px 0 85px 0;
  background-size: contain;
  &_wow_1 {
    background: #b3c54f url('../images/wow_1.png') no-repeat right center;
  }
  &_wow_2 {
    background: #b3c54f url('../images/wow_2.png') no-repeat right center;
  }
  &_wow_3 {
    background: #b3c54f url('../images/wow_3.png') no-repeat right center;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
  }
  &__text {
    display: block;
    max-width: 570px;
    margin-bottom: 38px;
    color: #374101;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 13px 24px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #e63d3d;
    color: #fffffe;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffd307;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__checked {
    display: block;
    margin: 0;
    padding-left: 36px;
    padding-bottom: 6px;
    background: url('../images/icon_checked.png') no-repeat left top;
    color: #374101;
    font-size: 14px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 516px;
    input {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      margin-bottom: 15px;
      padding: 15px 24px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #374101;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 13px 24px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #e63d3d;
      color: #fffffe;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffd307;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.t-why {
  display: block;
  padding: 80px 0 40px 0;
  &__title {
    display: block;
    margin: 0 0 36px 0;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    width: 100%;
    max-width: 575px;
    margin-bottom: 60px;
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 248px;
      height: 169px;
      margin-right: 20px;
      object-fit: cover;
    }
    &-content {
      display: inline-block;
    }
    &-title {
      display: block;
      margin: 6px 0 10px 0;
      color: #374101;
      font-size: 20px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0;
      color: #4f4f4f;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
    }
  }
}

.t-goods {
  display: block;
  padding: 80px 0 60px 0;
  background: #f5f5f5;
  &__title {
    display: block;
    margin: 0 0 42px 0;
    text-align: center;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    .slick-dots li {
      width: 10px;
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 370px;
    min-height: 495px;
    margin-bottom: 30px;
    box-shadow: 11px 12px 92px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    &-image {
      display: block;
      width: 100%;
      height: 225px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .slick-dotted.slick-slider {
      margin: 0;
    }
    &-slick {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      .item {
        transition: all 0.2s ease-out;
      }
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 29px;
        height: 31px;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -15px;
        background: url('../images/icon_zoom.png') no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
      &:hover {
        .item {
          filter: brightness(0.5);
        }
        &:after {
          transform: scale(0.7);
        }
      }
      .slick-dots {
        bottom: 12px;
      }
      .slick-dots li button:before {
        color: #ffffff;
        opacity: 0.25;
        font-size: 9px;
      }
      .slick-dots li.slick-active button:before {
        color: #ffffff;
        opacity: 0.67;
      }
      .slick-next,
      .slick-prev {
        &:before {
          display: none;
        }
        width: 43px;
        height: 43px;
        top: auto;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: none;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
      .slick-next {
        right: 0;
        background-image: url('../images/icon_next.png');
      }
      .slick-prev {
        left: 0;
        background-image: url('../images/icon_prev.png');
      }
    }
    &-content {
      display: block;
      flex: 1 1 auto;
      width: 100%;
      padding: 18px 32px 4px 18px;
    }
    &-title {
      display: block;
      margin-bottom: 10px;
      color: #b3c54f;
      font-family: Appetite;
      font-size: 24px;
      font-weight: 400;
    }
    &-info {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        margin-bottom: 12px;
        color: #4f4f4f;
        font-size: 14px;
        font-weight: 300;
      }
    }
    &-row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
    }
    &-price {
      display: inline-block;
      flex: 1 1 auto;
      padding: 19px;
      background-color: #fffae3;
      color: #b3c54f;
      font-family: Appetite;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      span {
        font-size: 24px;
      }
    }
    &-button {
      display: inline-block;
      flex: 1 1 auto;
      padding: 21px;
      border: 0;
      outline: 0;
      background-color: #ffd307;
      color: #ffffff;
      font-family: Appetite;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #f54a25;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.t-footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  &__map {
    display: block;
    flex: 1 1 auto;
  }
  &__content {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 645px;
    min-height: 405px;
    padding: 20px 15px 20px 200px;
    background-color: #b3c54f;
    p {
      display: block;
      margin-bottom: 16px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__logo {
    display: block;
    max-width: 100%;
    margin-bottom: 45px;
  }
  &__phone {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #f54a25;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #ffd307;
    color: #374101;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #f54a25;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-feedback {
  display: block;
  padding: 80px 0 90px 0;
  background-color: #ffffff;
  .item {
    outline: none;
  }
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  .t-slider-for {
    display: flex;
    align-items: center;
    height: 275px;
    overflow: hidden;
    background: url('../images/icon_quote.png') no-repeat center;
    background-size: contain;
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 21px;
      height: 39px;
      top: 47%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: none;
      filter: grayscale(1);
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        filter: grayscale(0);
        text-decoration: none;
      }
    }
    .slick-next {
      right: 100px;
      background-image: url('../images/icon_next_yellow.png');
    }
    .slick-prev {
      left: 100px;
      background-image: url('../images/icon_prev_yellow.png');
    }
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 835px;
    margin: 20px auto 0 auto;
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto 0 auto;
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-bottom: 33px;
      padding: 0;
      border-radius: 999rem;
      background-color: #fafafa;
      svg,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-hr {
      display: none;
      width: 120px;
      height: 3px;
      margin-bottom: 30px;
      background-color: #ffd307;
    }
    &-who {
      display: none;
      margin-bottom: 18px;
      color: #444444;
      font-size: 22px;
      font-weight: 700;
    }
    &-what {
      display: none;
      color: #444444;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2.87px;
    }
  }
  .slick-current {
    outline: none;
    .t-feedback__card {
      margin-top: 0;
    }
    .t-feedback__card-image {
      width: 100px;
      height: 100px;
    }
    .t-feedback__card-hr {
      display: block;
    }
    .t-feedback__card-who {
      display: block;
    }
    .t-feedback__card-what {
      display: block;
    }
  }
}

.t-papers {
  display: block;
  padding: 75px 0 60px 0;
  &__title {
    display: block;
    margin-bottom: 38px;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    .slick-track {
      padding-bottom: 25px;
    }
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 21px;
      height: 39px;
      top: 35%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: none;
      filter: grayscale(1);
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        filter: grayscale(0);
        text-decoration: none;
      }
    }
    .slick-prev {
      left: 0;
      margin-left: -40px;
      background-image: url('../images/icon_prev_yellow.png');
    }
    .slick-next {
      right: 0;
      margin-right: -40px;
      background-image: url('../images/icon_next_yellow.png');
    }
  }
  &__card {
    display: block;
    width: 120px;
    height: 170px;
    margin: 0 auto;
    outline: 0;
    box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.95);
      filter: grayscale(0.5);
      text-decoration: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.t-stocks {
  .slick-dotted.slick-slider {
    margin: 0;
  }
  .slick-dots {
    width: auto;
    bottom: 45px;
    right: auto;
    left: calc((100% - 1200px) / 2);
    padding-left: 4px;
  }
  .slick-dots li button:before {
    color: #ffffff;
    opacity: 0.25;
    font-size: 9px;
  }
  .slick-dots li.slick-active button:before {
    color: #ffffff;
    opacity: 0.67;
  }
  .slick-next,
  .slick-prev {
    &:before {
      display: none;
    }
    width: 21px;
    height: 38px;
    top: 50%;
    bottom: auto;
    margin-top: -19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .slick-next {
    right: calc((100% - 1200px) / 2 - 40px);
    background-image: url('../images/icon_next_white.png');
  }
  .slick-prev {
    left: calc((100% - 1200px) / 2 - 40px);
    background-image: url('../images/icon_prev_white.png');
  }
}

.t-stock {
  display: block;
  padding: 80px 0 85px 0;
  background-color: #b3c54f;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  &_wow_1 {
    background: #b3c54f url('../images/wow_1.png') no-repeat right center;
  }
  &_wow_2 {
    background: #b3c54f url('../images/wow_2.png') no-repeat right center;
  }
  &_wow_3 {
    background: #b3c54f url('../images/wow_3.png') no-repeat right center;
  }
  &__prep {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
  }
  &__title {
    display: block;
    max-width: 450px;
    min-height: 74px;
    margin: 0 0 11px 0;
    color: #374101;
    font-size: 31px;
    font-weight: 700;
    span {
      color: #ffffff;
    }
  }
  &__text {
    display: block;
    max-width: 450px;
    margin-bottom: 16px;
    color: #374101;
    font-size: 18px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__checked {
    display: block;
    margin: 0;
    padding-left: 36px;
    padding-bottom: 6px;
    background: url('../images/icon_checked.png') no-repeat left center;
    background-size: contain;
    color: #374101;
    font-size: 14px;
    font-weight: 300;
  }
  &__button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 13px 24px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #e63d3d;
    color: #fffffe;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffd307;
      color: #ffffff;
      text-decoration: none;
    }
  }
  form {
    display: block;
    width: 100%;
    max-width: 520px;
    input {
      display: inline-block;
      width: 100%;
      max-width: 250px;
      margin-bottom: 15px;
      padding: 15px 24px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #374101;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 13px 24px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #e63d3d;
      color: #fffffe;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffd307;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.t-how {
  display: block;
  padding: 80px 0 70px 0;
  background: url('../images/how_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #374101;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 23px;
    &-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 999rem;
      background-color: #ffd307;
      color: #ffffff;
      font-size: 26px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        width: 2px;
        height: 100%;
        background: #ffd307;
      }
    }
    &-text {
      display: block;
      margin: 0;
      color: #374101;
      font-size: 18px;
      font-weight: 400;
    }
    &:last-child {
      .t-how__card-number {
        &:after {
          display: none;
        }
      }
    }
  }
}

.t-calc {
  display: block;
  padding: 75px 0 90px 0;
  background: #00a7f4 url('../images/calc_bg.png') no-repeat center bottom;
  background-size: 100% auto;
  .slick-dots li {
    width: 10px;
  }
  &__title {
    display: block;
    margin-bottom: 47px;
    color: #fffffe;
    font-family: Appetite;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 305px;
    padding: 14px 26px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #e63d3d;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffd307;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 75px;
    p {
      display: block;
      margin-bottom: 10px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
    }
    label {
      display: block;
      margin-bottom: 10px;
      color: #fffffe;
      font-size: 18px;
      font-weight: 400;
    }
    select {
      border: 0;
      outline: 0;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    button {
      display: block;
      position: relative;
      width: 100%;
      max-width: 305px;
      padding: 14px 26px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #e63d3d;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffd307;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__price {
    display: block;
    margin-bottom: 24px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    span {
      font-size: 34px;
    }
  }
  &__select {
    display: block;
    position: relative;
    width: 100%;
    max-width: 305px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #525252;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    select {
      width: 100%;
      padding: 15px 40px 15px 20px;
      cursor: pointer;
    }
    &:after {
      display: block;
      position: absolute;
      width: 100%;
      content: '';
      right: 20px;
      top: 50%;
      width: 15px;
      height: 9px;
      margin-top: -4px;
      background: url('../images/icon_select.png') no-repeat center;
      background-size: cover;
    }
  }
  &__card {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    &_active {
      display: flex;
    }
    .slick-dotted.slick-slider {
      margin: 0;
    }
    &-image {
      display: block;
      width: 100%;
      height: 260px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-slick {
      display: block;
      position: relative;
      width: 100%;
      max-width: 370px;
      margin: 0;
      .item {
        transition: all 0.2s ease-out;
      }
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 29px;
        height: 31px;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -15px;
        background: url('../images/icon_zoom.png') no-repeat center;
        background-size: contain;
        transition: all 0.2s ease-out;
      }
      &:hover {
        .item {
          filter: brightness(0.5);
        }
        &:after {
          transform: scale(0.7);
        }
      }
      .slick-dots {
        bottom: 12px;
      }
      .slick-dots li button:before {
        color: #ffffff;
        opacity: 0.25;
        font-size: 9px;
      }
      .slick-dots li.slick-active button:before {
        color: #ffffff;
        opacity: 0.67;
      }
      .slick-next,
      .slick-prev {
        &:before {
          display: none;
        }
        width: 43px;
        height: 43px;
        top: auto;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: none;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
      .slick-next {
        right: 0;
        background-image: url('../images/icon_next.png');
      }
      .slick-prev {
        left: 0;
        background-image: url('../images/icon_prev.png');
      }
    }
    &-content {
      display: block;
      flex: 1 1 auto;
      margin-left: 25px;
    }
    &-title {
      display: block;
      margin-bottom: 15px;
      color: #ffffff;
      font-family: Appetite;
      font-size: 24px;
      font-weight: 400;
    }
    &-info {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        margin-bottom: 11px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

.t-calc-scroll {
  display: block;
  position: fixed;
  width: 120px;
  height: 92px;
  top: 50%;
  right: 0;
  margin-top: -46px;
  background: url('../images/calc.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    text-decoration: none;
  }
}

.t-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
  }
  &__this {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    max-width: 930px;
    padding: 50px 80px;
    border-radius: 5px;
    background: #ffffff url('../images/modal_bg.jpg') no-repeat left bottom;
    background-size: cover;
  }
  &__content {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 390px;
  }
  &__title {
    display: block;
    margin-bottom: 15px;
    color: #374101;
    font-family: Appetite;
    font-size: 26px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin-bottom: 14px;
    opacity: 0.68;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
  }
  &__button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 24px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #e63d3d;
    color: #fffffe;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #ffd307;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 360px;
    input {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 15px 32px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f3f3f3;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 15px 24px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #e63d3d;
      color: #fffffe;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffd307;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__checked {
    display: block;
    margin: 0;
    padding-left: 26px;
    padding-bottom: 6px;
    background: url('../images/icon_checked_2.png') no-repeat left top;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
  }
  &__close {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(360deg);
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  body {
    padding: 0;
  }
  .t-header {
    position: relative;
    &>.container {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .t-header__nav {
    display: none;
    margin: 20px 0;
    text-align: center;
    a {
      display: block;
      padding: 8px 16px;
    }
  }
  .t-header__combo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .t-header__toggler {
    display: inline-block;
  }
  .t-calc-scroll {
    display: none;
  }
  .t-top {
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/top_bg.png') no-repeat center bottom;
  }
  .t-top__title {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 32px;
  }
  .t-top__text {
    margin-bottom: 20px;
    color: #ffffff;
  }
  .t-top__cards {
    justify-content: space-around;
  }
  .t-welcome {
    margin-top: 0;
    padding: 30px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/top_bg_2.png') no-repeat right center;
    color: #ffffff;
  }
  .t-welcome__title {
    color: #ffffff;
  }
  .t-welcome p {
    color: #ffffff;
  }
  .t-welcome__subtitle {
    color: #ffffff;
  }
  .t-welcome p a {
    color: #ffffff;
  }
  .t-about {
    padding: 30px 0;
  }
  .t-about__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-about__text {
    margin-bottom: 30px;
  }
  .h-bordered {
    border: 0;
  }
  .t-about__column {
    align-items: center;
    padding: 0;
    text-align: center;
  }
  .t-about__column_righted {
    align-items: center;
    margin-bottom: 20px;
  }
  .t-about__column-card {
    margin-bottom: 20px;
  }
  .t-what {
    padding: 30px 0;
  }
  .t-what__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-what__cards {
    justify-content: space-around;
  }
  .t-what__card {
    margin-bottom: 20px;
  }
  .t-goods {
    padding: 30px 0;
  }
  .t-goods__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-goods__cards {
    justify-content: space-around;
  }
  .t-special {
    padding: 30px 0;
    background: #b3c54f !important;
    text-align: center;
  }
  .t-special__title {
    font-size: 32px;
  }
  .t-special form input {
    max-width: 100%;
  }
  .t-why {
    padding: 30px 0;
  }
  .t-why__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-why__card {
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .t-calc__card {
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    text-align: center;
  }
  .t-calc {
    padding: 30px 0;
  }
  .t-calc__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-calc__form {
    padding: 0;
  }
  .t-calc__form {
    align-items: center;
  }
  .t-calc__form button {
    margin-bottom: 20px;
  }
  .t-calc__card-image {
    height: 200px;
  }
  .t-special__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-feedback {
    padding: 30px 0;
  }
  .t-feedback__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-feedback .t-slider-for .slick-next,
  .t-feedback .t-slider-for .slick-prev {
    display: none;
  }
  .t-feedback__text {
    font-size: 16px;
  }
  .t-feedback__card-image {
    margin-bottom: 20px;
  }
  .t-feedback__card-hr {
    margin-bottom: 15px;
  }
  .t-how {
    padding: 30px 0;
  }
  .t-how__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .t-how__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .t-how__card-number:after {
    display: none;
  }
  .t-stock {
    padding: 30px 0;
    background: #b3c54f !important;
  }
  .t-stocks .slick-next,
  .t-stocks .slick-prev {
    display: none;
  }
  .t-stocks .slick-dots {
    display: none;
  }
  .t-papers {
    padding: 30px 0;
  }
  .t-papers__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .slick-dotted.slick-slider {
    margin: 0;
  }
  .t-papers__cards .slick-prev {
    margin-left: 0;
  }
  .t-papers__cards .slick-next {
    margin-right: 0;
  }
  .t-footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .t-footer__content {
    align-items: center;
    padding: 30px 15px;
    min-height: 0;
    text-align: center;
  }
  .t-footer__logo {
    margin-bottom: 30px;
  }
  .t-footer__map {
    height: 240px;
  }
  .t-stocks {
    width: 100%;
    overflow-x: hidden;
  }
  .t-stock {
    text-align: center;
  }
  .t-modal__this {
    padding: 20px;
    background: #ffffff !important;
  }
  .t-calc__button {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}